.jobcard {
  display: inline-block;
  margin: 1rem;
  width: 400px;
  height: 450px;
  box-shadow: 0 0rem 1.8rem rgba(0, 0, 0, 0.45);
  border-radius: 1rem;
  background: var(--main-background-color);
  border-top: 0.8rem solid var(--main-background-color);
  transition: 0.3s;
}
.jobcard:hover {
  border-top: 0.8rem solid var(--main-color);
  box-shadow: 0 0rem 3.6rem rgba(0, 0, 0, 0.45);
  transform: scale(1.05);
}

.jobcard__info {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.jobcard__info--title {
  color: var(--section-header-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 36px;
  align-self: center;
}

.jobcard__info--button {
  padding: 0.7rem;
  align-self: center;
}

.jobcard__info--button:hover {
  filter: brightness(0.9);
  cursor: pointer;
}
.job__info {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.job__info li {
  margin: 0.5rem 0;
  list-style-type: none;
}

.job__badges {
  background: var(--badge-bg-color);
  padding: 0.25rem 0.4rem;
  border-radius: 0.3rem;
  display: inline-block;
  margin: 0.1rem 0.25rem;
  color: white;
  font-weight: 700;
  text-decoration: underline;
}
