.input__container {
  width: 100%;
}

.styledSelect--label {
  font-weight: 300;
  font-family: "Raleway", sans-serif;
  font-size: 1.3rem;
}

.styledSelect--container {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  -moz-box-shadow: inset 0 0 5px var(--shadow-color);
  -webkit-box-shadow: inset 0 0 5px var(--shadow-color);
  box-shadow: inset 0 0 5px var(--shadow-color);
  position: relative;
  padding: 10px 0px;
  box-sizing: border-box;
  /* margin-top: 1rem; */
}

.styledSelect--container::after {
  position: absolute;
  top: 1%;
  right: 0rem;
  z-index: 60;

  content: "\f078";
  font-family: FontAwesome;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;

  background-color: var(--main-color);
  color: var(--main-background-color);
  min-width: 2rem;
  width: 15%;
  max-width: 3rem;
  height: 100%;
}

.styledSelect {
  padding: 0 1rem;
  width: 100%;
  border: 0;
  position: relative;
  z-index: 50;
  background: none;

  letter-spacing: 1px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}
