.navbar {
  /* border: 1px solid var(--main-color); Por algum motivo, sem essa borda cria-se uma margin no topo. */
  height: 3.6rem;
  background-color: var(--main-background-color);
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  /* border-bottom: 2rem solid var(--main-color); */
  max-width: 100%;
  margin-bottom: 1rem;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 1.1rem;
}

.navbar__logo--container {
  max-height: 90%;
}

.navbar__menu {
  /* border: 1px solid red; */
  list-style-type: none;
  margin-right: 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 90%;
}

.navbar__menu li {
  margin: 0 0.5rem;
  text-align: center;
}

.navbar__menu li:hover {
  cursor: pointer;
}

.menu__login {
  /*formato:  */
  border: 2px solid var(--main-color);
  border-radius: 1.4rem;
  height: 2.8rem;
  padding: 0 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;

  /*tipografia:  */
  text-transform: uppercase;
  font-weight: bold;
  color: var(--main-color);
}

.menu_cadastrar {
  background: var(--main-color);

  border-radius: 1.4rem;
  height: 2.8rem;
  padding: 0 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--main-background-color);
  text-transform: uppercase;
  font-weight: bold;
}

.menu__burger--icon {
  width: 3rem;
  height: 3rem;

  /* display: flex; */
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  display: none;
}

.menu__burger--icon div {
  height: 0.3rem;
  border-radius: 0.2rem;
  width: 100%;
  background: var(--main-color);
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.4);
}

/*Responsivo:  */
@media (max-width: 800px) {
  .--responsive {
    display: none;
  }

  .menu__burger--icon {
    display: flex;
  }
}
