@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700&family=Roboto:wght@100;300;400&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  width: 100vw;
}

/*Design geral:  */

.container {
  max-width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
}

.infoBlock {
  margin: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/*Tipografia:  */

.section__title {
  color: var(--section-header-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 36px;
  text-align: center;
}

.section__title--small {
  color: var(--section-header-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 36px;
  text-align: center;
}

.section__text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  text-align: center;
  line-height: 25px;
}
.section__img {
  width: 100%;
  /* border: 1px solid red; */
}
.section__button {
  background: var(--main-color);
  border: none;

  padding: 1.3rem;
  width: 90%;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.9rem;
  color: var(--main-background-color);
  border-radius: 1.5rem;
}
.section__button:hover {
  cursor: pointer;
  filter: brightness(0.9);
}
/*Responsivo:  */
@media (max-width: 800px) {
  .section__img {
    display: none;
  }
  .container {
    padding: 1rem;
  }
}
